<!DOCTYPE html>
<html>
<head>
  <title>Forest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<header>
				<h1 class="pull-left"><%= link_to "Wild Road Calculus", root_path  %></h1>

			<% if current_user %>
				<span class="pull-right"><%= link_to  "Students", users_path %> | <%= link_to  "Levels", root_path %> |
				<%= link_to "Profile", user_path(current_user) %> |
				<%= link_to "Logout", sessions_delete_path  %></span>
			<% else %>
			<span class="pull-right"><%= link_to "Login", new_session_path  %> | <%= link_to "Create User", new_user_path  %></span>
			<% end %>	
	</header>
	<% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

<%= yield %>
 <footer>
 </footer>
</body>
</html>
